{% extends "layout.html" %}

{% block content %}
    <div class="indexall" style="background: url({{ static }}/images/indexBanner.png) no-repeat; height:550px;width:100%;">
	<div class="gz-welcome" style="height:120px;">
		<h3 style="font-size:18px">上午好！slade管理员！</h3>
	</div>
	<div class="cont_col_lt" style="width: 1000px;background: #f8f8f8;">
		<table class="table fl">
			<tr>
				<th>名称</th>
				<th>描述</th>
			</tr>
			<tr>
				<td class="center">版本</td>
				<td>GZcms v0.0.1</td>
			</tr>
			<tr>
				<td class="center">作者</td>
				<td>半朵昙花（sujinw@qq.com）</td>
			</tr>
			<tr>
				<td class="center">网址</td>
				<td>zukmb.cn</td>
			</tr>
			<tr>
				<td class="center">PHP版本</td>
				<td>v5.6</td>
			</tr>
			<tr>
				<td class="center">apache版本</td>
				<td>v2.4</td>
			</tr>
			<tr>
				<td class="center">mysql版本</td>
				<td>v5.6</td>
			</tr>
			<tr>
				<td class="center">操作系统</td>
				<td>v5.6</td>
			</tr>
			<tr>
				<td class="center">浏览器信息</td>
				<td>v5.6</td>
			</tr>
			<tr>
				<td class="center">当前ip</td>
				<td>v5.6</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}