
{% extends "layout.html" %}

{% block content %}
<section>
	<h2> <strong style="color:grey;">添加旅游套餐地区</strong>
	</h2>
	<form action="{{ APP }}/traval/editArea" id="addAdminType" method="post" enctype="multipart/form-data">
	<ul class="ulColumn2">
		<li>
            <span class="item_name" style="width:120px;">所属地区：</span>
            <select name="pid" class="select textbox_295">
            	<option value="0">选择上一级地区</option>
            	{% for r in area %}
				<option value="{{ r.id }}">{{ r._name }}</option>
            	{% endfor %}
            </select>
        </li>
		<li>
			<span class="item_name" style="width:120px;">地区名称：</span>
			<input type="text" name='name' class="textbox textbox_295" value="{{ are.name }}" placeholder="地区名称"/>
		</li>
		<li>
			<span class="item_name" style="width:120px;">排序：</span>
			<input type="text" name='sort' class="textbox textbox_295" value="{{ are.sort }}" placeholder="排序"/>
		</li>
		<li>
			<span class="item_name" style="width:120px;">地区描述：</span>
			<textarea name="remark" placeholder="地区描述" class="textarea" style="width:500px;height:100px;">{{ are.remark }}</textarea>
		</li>
		<li>
			<span class="item_name" style="width:120px;">是否显示：</span>
			<label class="single_selection">
				<input type="radio" value="1" {% if are.is_display==1 %}checked="checked"{% endif %} name="is_display"/>
				是
			</label>
			<label class="single_selection">
				<input type="radio" value="0" {% if are.is_display==0 %}checked="checked"{% endif %} name="is_display"/>
				否
			</label>
		</li>
		<li>
			<input type="hidden" value="{{ id }}" name="id" />
			<span class="item_name" style="width:120px;"></span>
			<input type="submit" class="link_btn"/>
		</li>
	</ul>
	</form>
</section>
<script>
$(function(){
  	$("#addAdminType").validate({
    	name:{
      		rule:{
        		required: true,
      		},
        	error:{
        		required: "名称不能为空",
     		}
    	}
	});
})
</script>
{% endblock %}