
{% extends "layout.html" %}

{% block content %}
<section>
	<div class="page_title">
		<h2 class="fl">管理权限配置</h2>
		
	</div>
	<table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="30%">节点名称</th>
            <th width="20%">节点描述</th>
            <th width="10%">节点状态</th>
        </tr>
        </thead>
        <tbody>
	    <form action="{{ APP }}/user/access" method="post">
        {% for app in node %}
            <tr>
                <td>{{ app.id }}</td>
                <td>
                	<div class="checkbox">
                        {{ app.name }}
                		<label>
                			<input type="checkbox" name="access[]" value="{{ app.id }}_1" id='{{ app.id }}'  {% if app.access==1 %} checked = "checked" {% endif %}></label>
                	</div>
                </td>
                <td>{{ app.remark }}</td>
                <td>{% if app.status==1 %}正常{% else %}禁用{% endif %}</td>
            </tr>
            {% for action in app.child %}
            <tr>
                <td>{{ action.id }}</td>
                <td>
                    <div class="checkbox">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└─{{ action.name }}
                		<label>
                			<input type="checkbox" name="access[]" value="{{ action.id }}_2" id='{{ app.id }}_{{ action.id }}' app="{{ app.id }}" action='true' {% if action.access==1 %} checked = "checked" {% endif %}>
                		</label>
                	</div>
                </td>
                <td>{{ action.remark }}</td>
                <td>{% if action.status==1 %}正常{% else %} 禁用{% endif %}</td>
            </tr>
                {% for method in action.child %}
                <tr>
                    <td>{{ method.id }}</td>
                    <td>
                    <div class="checkbox">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        └─{{ method.name }}
                    		<label>
                    			<input type="checkbox" name="access[]" value="{{ method.id }}_3" id='{{ app.id }}_{{ action.id }}' app="{{ app.id }}" action="{{ action.id }}"{% if method.access==1 %} checked = "checked" {% endif %}>
                    		</label>
                    </div>
                    </td>
                    <td>{{ method.remark }}</td>
                    <td>{% if method.status== 1 %}正常{% else %}禁用{% endif %}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <input type="hidden" name="rid" value="{{ rid }}" />
		<input type="submit" class="link_btn" />
	    </form>

       </tbody>
    </table>
</section>
<script type="text/javascript">
(function(){
	var check = $('input[type=checkbox]');
	check.click(function(){
		var thisid = $(this).attr('id').split('_');
		if(thisid.length == 1){
			// var inputs = $('*[id*='+ thisid[0] +']');
			var inputs = $('input[app='+ thisid[0] +']')
			console.log(inputs)
			if(!$(this).prop('checked')){
				$(this).prop('checked',false);
				inputs.prop('checked',false);
				// inputs.removeAttr('checked');
				console.log(1)
			}else{
				$(this).prop('checked','checked');
				inputs.prop('checked','checked');
				console.log(2)
			}		
		}else if(thisid.length == 2){
			// var inputs = $('*[id*='+ thisid[0] +']');
			var inputs = $('input[action='+ thisid[1] +']')
			console.log(inputs)
			if(!$(this).prop('checked')){
				$(this).prop('checked',false);
				inputs.prop('checked',false);
				// inputs.removeAttr('checked');
				console.log(1)
			}else{
				$(this).prop('checked','checked');
				inputs.prop('checked','checked');
				console.log(2)
			}
						
		}
	});
	
})()
</script>
{% endblock %}