
{% extends "layout.html" %}

{% block content %}
<section>
	<h2> <strong style="color:grey;">添加权限节点</strong>
	</h2>
	<form action="{{ APP }}/user/editNode" id="addAdminType" method="post">
	<ul class="ulColumn2">
		<li>
			<span class="item_name" style="width:120px;">{{ type }}名称：</span>
			<input type="text" name='name' class="textbox textbox_295" value="{{ node.name }}" placeholder="{{ type }}名称"/>
		</li>
		<li>
			<span class="item_name" style="width:120px;">是否显示：</span>
			<label class="single_selection">
				<input type="radio" value="1" {% if node.status==1 %}checked="checked"{% endif %} name="status"/>
				是
			</label>
			<label class="single_selection">
				<input type="radio" value="0" {% if node.status==0 %}checked="checked"{% endif %} name="status"/>
				否
			</label>
		</li>
		<li>
			<span class="item_name" style="width:120px;">{{ type }}描述：</span>
			<textarea name="remark" placeholder="{{ type }}描述" class="textarea" style="width:500px;height:100px;">{{ node.remark }}</textarea>
		</li>
		<li>
			<input type="hidden" name="id" value="{{ id }}" />
            <input type="hidden" name="level" value="{{ level }}" />
			<span class="item_name" style="width:120px;"></span>
			<input type="submit" class="link_btn"/>
		</li>
	</ul>
	</form>
</section>
{% endblock %}