
{% extends "layout.html" %}

{% block content %}
<section>
	<h2> <strong style="color:grey;">添加会员</strong>
	</h2>
	<ul class="ulColumn2">
	<form action="{{ APP }}/user/addleve" method="post" enctype="multipart/form-data">
		<li>
			<span class="item_name" style="width:120px;">会员等级名称：</span>
			<input type="text" name="name" class="textbox textbox_295" value="{{ leve.leve_name }}" placeholder="会员等级名称" onblur="checkUsername(this)" />
			<span class="errorTips">错误提示信息...</span>
		</li>
		<li>
			<span class="item_name" style="width:120px;">会员等级描述：</span>
			<textarea value="{{ leve.leve_des }}" placeholder="等级描述" class="textarea" name="levedes" style="width:500px;height:100px;"></textarea>
			<span class="errorTips">错误提示信息...</span>
		</li>
		<li>
			<span class="item_name" style="width:120px;">排序：</span>
			<input type="text" name="rid" class="textbox textbox_295" value="{{ leve.leve_rid }}" placeholder="0" />
			<span class="errorTips">错误提示信息...</span>
		</li>
		<li>
			<span class="item_name" style="width:120px;">是否锁定：</span>
			<label class="single_selection">
				<input type="radio" value="0" {% if leve.is_display ==0 %}checked="checked"{% endif %}  name="is_display"/>
				不锁定
			</label>
			<label class="single_selection">
				<input type="radio" value="1" {% if leve.is_display ==1 %}checked="checked"{% endif %} name="is_display"/>
				锁定
			</label>
		</li>
		<li>
			<span class="item_name" style="width:120px;">上传图片：</span>
			<label class="uploadImg">
				<input type="file" id="file" name="leveimg" accept="image/png,image/gif" />
				<span>上传图片</span>
				<div class="previewImage" style="width: 200px;height: 200px;overflow: hidden;border:1px solid #ddd;border-radius: 5px;">
					<img style="width:100%;height:100%;
					" src="{{ ROOT }}/{{ leve.leve_img }}" id="img">
				</div>
			</label>
		</li>
		<li>
			<span class="item_name" style="width:120px;"></span>
			<input type="submit" class="link_btn"/>
		</li>
	</form>
	</ul>
</section>
<script type="text/javascript">
//图片预览
document.getElementById('file').onchange = function(evt) {  
    // 如果浏览器不支持FileReader，则不处理  
    if (!window.FileReader) return;
    var files = evt.target.files;  
    for (var i = 0, f; f = files[i]; i++) {  
        if (!f.type.match('image.*')) {  
            continue;  
        }
        var reader = new FileReader();  
        reader.onload = (function(theFile) {  
            return function(e) {  
                // img 元素  
                document.getElementById('img').src = e.target.result;  
            };  
        })(f); 
        reader.readAsDataURL(f);  
    }  
  
}  
//用户名验证
function checkUsername(o){
	var val = $(o).val();
	if(val == ""){
		$(o).next('.errorTips').html("用户名不能为空").show();
		$(o).focus();
		return false;
	}else{
		$(o).next('.errorTips').hide();
	}
}

//用户免验证
function checkPassword(o){
	var val = $(o).val();
	var exp = /^\w{8,16}$/; //定义3-16个字符的正则
	if(val == ""){
		$(o).next('.errorTips').html("密码不能为空").show();
		$(o).focus();
		return false;
	}else if(!exp.test(val)){
		$(o).next('.errorTips').html("密码必须为8-16位的数字字母下划线组成！").show();
		$(o).focus();
		return false;
	}else{
		$(o).next('.errorTips').hide();
	}
}
//用户免验证
function checkConfirmpwd(o){
	if($(o).val() != $("input[name='password']").val() ){
		$(o).next('.errorTips').html("密码不相同").show();
		$(o).focus();
		return false;
	}else{
		$(o).next('.errorTips').hide();
	}
}

//生日验证
function checkBabybirthday(o){
	if(new Date($(o).val()).getTime() > new Date().getTime()){
		$(o).next('.errorTips').html("生日不能大于当前时间").show();
		$(o).focus();
		return false;
	}else{
		$(o).next('.errorTips').hide();
	}
}

function mySubmit(flag){  
    return flag;  
} 
$("form").submit(function(e){
	var val = $("input[name='username']").val();
	var exp = /^\w{6,16}$/; //定义3-16个字符的正则
	if(val == ""){
		$("input[name='username']").next('.errorTips').html("用户名不能为空").show();
		$("input[name='username']").focus();
		e.preventDefault();
		return false;
	}else{
		$("input[name='username']").next('.errorTips').hide();
	}
	return true;
});
</script>
{% endblock %}