@charset "utf-8";
/* CSS Document */
/*
bgcolor { background: #000; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#000)); background: -moz-linear-gradient(top, #fff, #000); }
body { font-family: "微软雅黑", Verdana, Geneva, sans-serif; }
div { filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
[div { background: rgba(255, 255, 255, 0.3) !important; }div span { position: relative; }]
div{-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
div{transform:scale(-1,1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);}
body { behavior: url("scripts/csshover.htc"); }
*/
/********** index ************/
body { background: #f2f1f1; margin: 0px 0px; padding: 0px 0px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; }
/***********reg********/
h3.tit { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 20px; color: #06c1bf; text-align: center; line-height: 40px; overflow: hidden; }
.ui-form-label label.ui-form-label1 { }
.ui-form-item2 { }
.ui-form-item2 label { }
.ui-form-item label.ui-form-label1 { background: url(../Images/reg1.png) center no-repeat; -webkit-box-pack: center; -webkit-box-align: center; display: -webkit-box; height: 44px; width: 35px !important; background-size: 50%; }
.ui-form-item label.ui-form-label2 { background: url(../Images/reg2.png) center no-repeat; -webkit-box-pack: center; -webkit-box-align: center; display: -webkit-box; height: 44px; width: 35px !important; background-size: 50%; }
.ui-form-item2 input { color: #ccc; font-size: 16px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; padding-left: 50px !important; }
.ui-btn-group-tiled { margin-bottom: 0px !important; }
.ui-btn-reg { background: #ccc; color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box }
.ui-btn-login { background: #fdba55; color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box }
.ui-btn-lg2 { border: none !important; }
.forget { height: 44px; line-height: 44px; }
.forget a { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #ccc; display: inline-block; width: auto; float: right; }
.btn { width: 100%; -webkit-box-sizing: border-box; -webkit-box-flex: 1; display: block; background: #fff; border-radius: 5px 5px; }
.ui-btn-weixin { color: #666; background: url(../Images/reg3.png) 10px no-repeat; width: 100%; padding-left: 31%; }
.ui-btn-qq { color: #666; background: url(../Images/reg4.png) 10px no-repeat; width: 100%; padding-left: 31%; }
/**********login*********/
.ui-btn-re2 { background: #06c1bf; }
.ui-btn-login2 { background: #ccc; }
/**********index*********/
.topTit { height: 40px; line-height: 40px; padding: 5px 0.5%; background: #d6f4f1; position: fixed; top: 0; width: 99%; overflow: hidden; color: #06c1ae; z-index: 99; }
.topTit span { width: 16%; float: left; position: relative; height: 100%; }
.topTit span img { margin: 0px 5px; }
.topTit span:hover { cursor: pointer; }
.ui-searchbar-wrap { width: 68%; float: left }
.ui-searchbar-wrap button { display: block !important; margin-right: 0px !important; }
.ui-searchbar-wrap h3 { color: #06c1bf; font-size: 18px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; }
.ui-searchbar2 {  height: 40px; background: #fff; font-size: 14px; line-height: 40px; position: relative; padding-left: 4px; -webkit-box-flex: 1; display: -webkit-box; -webkit-box-align: center; color: gray; width: 70%; float: left; }
.ui-icon-search2 { width: 26px; height: 26px; background: url(../Images/cityp3.png) left top no-repeat; display: inline-block; float: left; position: relative; }
.ui-searchbar-input2 { -webkit-box-flex: 1; display: block; }
.ui-searchbar-input2 input { height: 40px; line-height: 40px; overflow: hidden; width: 80%; float: left; }
.ui-searchbar-cancel2 { width: 20%; float: right; background: #06c1ae; color: #fff; text-align: center; height: 40px; line-height: 40px; overflow: hidden; font-size: 16px; letter-spacing: 3px; }
.ui-searchbar-cancel2:hover { cursor: pointer; }
.topR { width: 15%; height: 40px; line-height: 40px; float: left;}
.topR:hover { cursor: pointer; }
.ui-slider { }
.ui-slider li img { height: 310px; }
.h_wrap { width: 100%; height: auto; overflow: hidden; background: #d6f4f1; padding-bottom: 10px; }
.h_mp { width: 100%; height: auto; overflow: hidden; background: #fff; box-shadow: none; padding: 10px 0px; }
.h_mp a { text-align: center; display: inline-block; width: 25%; color: #666; text-decoration: none; font-weight: normal; float: left; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 14px; }
.h_mp a:hover { text-decoration: none; color: #007eb2; }
.ico_1, .ico_2, .ico_3, .ico_4 { padding-top: 70%; font-size: 1em; color: #A29A8F; text-align: center; display: block; margin-bottom: 10px; }
.ico_1 { background: url(../Images/icon1.png) no-repeat center; background-size: 70%; }
.ico_2 { background: url(../Images/icon2.png) no-repeat center; background-size: 70%; }
.ico_3 { background: url(../Images/icon3.png) no-repeat center; background-size: 70%; }
.ico_4 { background: url(../Images/icon4.png) no-repeat center; background-size: 70%; }
.content { width: 100%; height: auto; overflow: hidden; margin-bottom: 50px; }
h3.title2 { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 14px !important; color: #999 !important; height: 40px; line-height: 40px; padding: 0px 10px; }
h3.title2 font { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #06c1ae; }
h3.title2 em { display: inline-block; padding: 0px 10px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #999; }
.ul_wrap { background: #fff; width: 100%; height: auto; overflow: hidden; border-top: 1px solid #d6f4f1; padding-top: 10px; }
.ui-grid-halve2 { padding: 0px 10px; }
.ui-grid-halve>li { width: 100% !important; position: relative; -webkit-box-sizing: border-box; margin: 0px 0px !important; margin-top: 0px !important; border: none !important; }
.ui-grid-halve-img span {  }
.ui-grid-halve-img span label.money_img{ display: inline-block;position: absolute;left: 0;bottom: 0px;background: #06c1ae;opacity: 0.7;color: #fff; font-family: "微软雅黑", Verdana, Geneva, sans-serif;font-size: 18px;width: auto;height: auto;padding: 2px 2px; }
.ui-grid-halve p { position:relative; height: 33px; line-height: 33px;  font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #333; width: 100%; overflow: hidden;}
.ui-grid-halve-info { width: 100%; height: 33px; line-height: 33px; overflow: hidden; padding: 5px 0px; }
.ui-grid-halve-info span { display: block; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 14px; color: #333; }
.ui-grid-halve-info  font {float: left; padding-right: 10px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #06c1ae;display: inline-block;width: auto;height: 33px;line-height: 32px; }
.ui-grid-halve-info span.sp1 { text-align: left; float: left;height: 33px;line-height: 33px;overflow: hidden; }
.ui-grid-halve-info span.sp1 font {  }
.ui-grid-halve-info span.sp2 { text-align: right; float: right; }
/**********usercenter**********/
.ui-form-itemUser { }
.ui-form-itemUser label { color: #ccc !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px !important; }
.ui-form-itemUser input { color: #333 !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px !important; }
.ui-form-itemUser span { width: 100%; padding-left: 95px; -webkit-box-sizing: border-box; box-sizing: border-box }
.ui-form-itemUser select { width: 15%; margin-left: 95px; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../Images/sex.png) right center no-repeat; background-size: 30%; }
.ui-form-itemUser select option { width: 20% !important; }
.ui-btn-danger2 { background: #06c1bf; color: #fff; border-color: #f43d30; -webkit-background-clip: padding-box; background-clip: padding-box; border: none; }
/***********collection*******/
.ul_wrap2 { width: 100%; height: auto; overflow: hidden; background: #fff; margin-bottom: 20px; }
.ui-list2 { width: 96%; padding: 0px 2%; }
.ui-list2>li { padding: 10px 0px }
.ui-list-img2 { width: 150px; height: 80px; margin: 0px 0px !important; position: relative; margin-bottom: 0px !important; }
.ui-list-info { height: 80px; overflow: hidden; padding: 0px 10px !important; }
.ui-list-info h4 { font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: #333; font-weight: normal; height: 34px; line-height: 34px; width: 100%; overflow: hidden; font-family: "微软雅黑", Verdana, Geneva, sans-serif; }
.ui-list-info p { height: 60px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 14px; color: #999; line-height: 22px; overflow: hidden; }
.collection { width: auto; padding: 10px; height: auto; overflow: hidden; }
.collection a { display: block; float: left; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; }
.collection a.cancel { width: 50% !important; color: #06c1bf; }
.collection a.go { width: auto; margin-left: 10%; background: #06c1bf; color: #fff !important; text-align: center; padding: 5px 80px; float: right; }
.collection a.cancel:hover { color: #1ddedc; }
.collection a.go:hover { background: #1ddedc; }
/********order********/
.ui-list2>li h3 { color: #333 !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 14px !important; }
.collection span { display: block; float: left; width: 50% !important; color: #06c1bf; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; height: 37px; line-height: 37px; }
.collection span.overpay { color: #cbcbcb; }
.collection a.overpay { background: #cbcbcb; }
.collection a.overpay:hover { background: #c2c1c1; }
/*********about*******/
.con { width: 96%; padding: 0px 2%; height: auto; overflow: hidden; }
.con h3 { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 28px; color: #06c1bf; width: 100%; height: 60px; line-height: 60px; text-align: center; font-weight: normal; }
.con p { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #333; text-indent: 2em; line-height: 27px; }
/********coupons*******/
.ui-grid-halve3 { padding-top: 0px!important; padding-bottom: 0px !important; width: 84%; padding-left: 8% !important; padding-right: 8% !important; }
.ui-grid-halve-img { padding-top: 50% !important; }
.ui-grid-halve-img .yhq { width: 100%; height: 100%; overflow: hidden; position: absolute; }
.ui-grid-halve-img .yhq_money { width: 33%; height: 100%; overflow: hidden; float: left; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #fff; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; text-align: right }
.ui-grid-halve-img .yhq_data { width: 67%; height: 100%; overflow: hidden; float: left; font-family: "微软雅黑", Verdana, Geneva, sans-serif; color: #fff; }
.ui-grid-halve-img .yhq_data h3 { font-size: 18px; }
.ui-grid-halve-img .yhq_data span { display: block; font-size: 14px; }
/*******userCB*******/
.usercenter { width: 100%; text-align: center; background: url(../Images/usercenter.jpg) top center no-repeat; padding: 10px 0px; background-size: 150%; }
.ico_ceneter { width:100px; height:100px; overflow:hidden; margin-left:auto; margin-right:auto; font-size: 1em; color: #A29A8F; text-align: center; display: block; background: url(../Images/centertop.png) no-repeat center;-webkit-border-radius: 200px;-webkit-background-size: 100% 100%;}
/*.after { background: url(../Images/centertop2.png) no-repeat center;background-size: 100% 100%; }*/
.top_center a { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #666; }
.cenetr_after a { color: #333; }
.list_1 { width: 100%; height: auto; overflow: hidden; margin-top: 10px; box-shadow: 0px 3px 2px #ddd; background: #fff; }
.list_page_1 { }
.list_page_1 a.list_page_t { font-family: "微软雅黑", Verdana, Geneva, sans-serif; color: #999; font-size: 1.1em; font-weight: normal; display: block; text-decoration: none; width: 80%; }
.list_page_1 a.list_page_t:hover { color: #06c1bf; }
.list_page_1 a.list_page_t:active{ color: #06c1bf;}
.list_page_1 li { padding: 7px 25px 7px 25px !important; border-bottom: 1px solid #DDDDDD; background: url(../Images/list_page_1.png) 91% center no-repeat; background-size: 3%; height: 30px; line-height: 30px; }
.list_page_1 li a { padding-left: 10px; }
.list_page_1 li span.fl { width: 50%; height: 100%; overflow: hidden; float: left; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #333; }
.list_page_1 li a.allOder { display: block; width: 50%; height: 100%; overflow: hidden; padding: 0px 0px !important; text-align: right; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; color: #333; }
/***********payOrder*********/
.pay_tit { width: 90%; height: auto; padding: 10px 5%; background: #06c1bf; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px !important; color: #fff; line-height: 27px; }
.pay_tit h4 { }
.pay_tit p { font-size: 14px !important; }
.list_2 { width: 100%; height: auto; overflow: hidden; box-shadow: none !important; margin-top: 0px !important; background: none !important; }
.list_page_2 li { border-bottom: 1px solid #dbdbdb; margin: 0px 0px !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px; }
.list_page_2 li a { display: block; width: 100%; height: 68px; background: url(../Images/falsh.png) 94% center no-repeat; padding: 0px 0px !important; }
.list_page_2 li a.on { background: url(../Images/true.png) 94% center no-repeat !important; }
.list_page_1 li span { color: #333; }
.list_page_1 li label { width: 100%; height: 100%; text-align: right; display: block; color: #fdba55; }
.ui-list-type { font-family: "微软雅黑", Verdana, Geneva, sans-serif; height: 68px; overflow: hidden; }
.ui-list-type h4 { font-size: 16px !important; color: #333; line-height: 35px; }
.ui-list-type p { font-size: 12px !important; color: #999; }
.postBt { width: 100%; height: auto; overflow: hidden; background: #fdba55; padding: 10px 0px; }
.postBt a { border: none; background: none; display: block; text-align: center; width: 100%; height: 20px; line-height: 20px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #fff; }
.postBt:hover { background: #FEA169; }
/************topTit*************/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.nav { height: 30px; line-height: 30px; background:#fff; position: relative; width: 100%; padding: 5px 0px; color: #06c1ae; z-index: 99; }
.nav a { color: #333; }
.nav .nLi { float: left; display: block; width: auto; height: 30px; line-height: 30px; font-size: 16px; }
.nav .nLiOne { width: 19%; cursor: pointer; text-align: center; }
.nav .nLiTwo { width: 65%; }
.nav .nLiThree { width: 16%; position: relative; }
.nav span { }
.nav h3 { color: #06c1bf; font-size: 18px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; text-align: center; width: 100%; }
.nav .ui-searchbar2 { height: 30px; font-size: 14px; line-height: 30px; color: gray; width: 40%; margin:0px 5%; float: left;}
.nav .ui-icon-search2 { width: 20px; height: 20px;top: 5px; background: url(../Images/cityp3.png) center top no-repeat; display: inline-block; position:absolute; right:8%;background-size: 100%; }
.nav .ui-searchbar-input2 {  display: block; z-index:99; width:90%; padding:0px 5%;  height:30px ;}
.nav .ui-searchbar-input2 input { height: 30px; line-height: 30px; overflow: hidden; width: 85%; padding:0px 10% 0px 5%;  position:relative; text-align:center;}
.nav .ui-searchbar-cancel2 { width: 25%; float: right; background: #06c1ae; color: #fff; text-align: center; height: 30px; line-height: 30px; overflow: hidden; }
.nav .ui-searchbar-cancel2:hover { cursor: pointer; }
.nav .topR { width: 100%; height: 30px; line-height: 30px; float: left;}
.nav .topR:hover { cursor: pointer; }
.nav .sub { display: none; padding: 10px 0% 10px 0%; right: -1px; top: 40px; position: absolute; background: #fff; opacity: 0.9; z-index: 999 !important; }
.nav .sub li { zoom: 1; width: 25% !important; float: left; line-height: 30px !important; }
.nav .sub span { display: block; width: 100%; height: 100%; color: #333; font-size: 14px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; text-align: center; }
.nav .sub span:hover { background: #06c1bf; color: #fff; text-decoration: none; opacity: 1; }
.nav .sub6 { width: 100% !important; }
.nav .nLiThree .sub li { width: 100% !important; }
.nav .nLiThree .sub li a { padding-left: 15%; color: #06c1bf; font-size: 14px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; }
.nav .nLiThree .sub li a:hover { color: #129392; }
/**********writeOrder*********/
.list_page_2 .ui-form-item { height: 25px !important; line-height: 25px !important; }
.list_page_2 .ui-form-item label { color: #333 !important; }
.ui-checkbox2 input { display: inline-block; width: 25px; height: 25px; position: relative; overflow: visible; border: 0; -webkit-appearance: none; outline: 0; vertical-align: middle; margin: 0px 5px 0px 0px; }
.ui-checkbox2 input { background: url(../Images/unagree.png) left center no-repeat !important; content: ""; display: block; width: 25px; height: 25px; }
.ui-checkbox2 input:checked { background: url(../Images/agree.png) left center no-repeat !important; }
.ui-checkbox-s2 { width: 19px }
.ui-checkbox-s2 input:before { width: 19px; height: 19px; }
.ui-checkbox-s2 input:checked:before { }
/*******************/
.list_page_2 li div.timeDiv { width:240px; margin-left: auto; margin-right: auto; height: auto; overflow: hidden; border: 1px solid #e1e1e1; margin-bottom: 5px; }
.list_page_2 li div.timeDiv input.time { display: block; width: 210px; padding: 0px 30px 0px 0px; height: 25px; line-height: 25px; font-size: 14px !important; background: url(../Images/time2.png) right center no-repeat;background-size: 13%; outline: none;border: none;color: #999;text-align: center; }
.list_page_2 li div.on { border: 1px solid #06c1bf; }
.Shopclass input{margin-left: auto;margin-right: auto;margin-top: 10px; display: block; width: 210px; padding: 0px 30px 0px 0px; height: 25px; line-height: 25px; font-size: 14px !important; background: url(../Images/time2.png) right center no-repeat;background-size: 13%; outline: none;border: 1px solid  #d5d5d5;color: #999;text-align: center; }
.Shopclass input.on{  background: url(../Images/time2on.png) right center no-repeat !important; background-size: 13% !important; color: #000 !important;border: 1px solid #06c1bf;}
.list_page_2 li div.on input { background: url(../Images/time2on.png) right center no-repeat !important; background-size: 13% !important; color: #000 !important; }
.list_page_2 li span.peopelNum { font-size: 14px; }
.list_page_2 li span label.reduce { display: inline-block; width: 25px; height: 25px; line-height: 22px; background: url(../Images/reduce.png); margin-left: 10px; float: right; }
.list_page_2 li span label.reduce:hover { cursor: pointer; }
.list_page_2 li span input { height: 23px; width: 23px; border: 1px solid #06c1bf; text-align: center; color: #06c1bf; margin-left: 6px; float: right; }
.list_page_2 li span label.add { display: inline-block; width: 25px; height: 25px; line-height: 22px; background: #999; margin-left: 10px; float: right; background: url(../Images/addn.png); }
.list_page_2 li span label.add:hover { cursor: pointer; }
/*************detail***********/
.ui-slider li a.fenxiang { display: none; width: 66px; height: 66px; position: absolute; top: 0; right: 0; background: url(../Images/fenxiang.png) left center no-repeat; }
h4.detail_tit { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #333 !important; }
h4.detail_tit font { color: #fdba55 !important; }
h4.TimeNum { height: auto; overflow: hidden; height: 40px; line-height: 40px; }
h4.TimeNum label { display: inline-block; font-size: 14px !important; color: #333 !important; text-align: center; }
div.head { width: 100%; height: 35px; overflow: hidden; line-height: 35px; padding: 0px 0px 0px 0px; }
div.head span { display: block; border-radius: 100px 100px; width: 33px; height: 33px;padding: 1px 1px; overflow: hidden; float: left;margin: 0px 4px 0px 0px;}
.ui-nowrap2 { width: 86%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ui-nowrap2 a.yuyue { display: inline-block; width: auto; float: right; color: #06c1bf; }
.ui-listDeatil { }
.ui-listDeatil>li h4 { font-size: 14px; color: #333; }
.ui-tab-nav2 { }
.ui-tab-content { width: 100%; display: -webkit-box; margin-top: 0px !important; background: #fff; }
.ui-tab-content>li { -webkit-box-flex: 1; width: 96% !important; padding: 10px 2% !important; }
.ui-tab-content>li p { width: 100%; height: auto; padding: 5px 0px; overflow: hidden; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 12px; color: #333; }
.ui-tab-content>li div.img { display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: cenetr; width: 100%; height: 300px; overflow: hidden; background: url(../Images/detail.jpg); background-size: 100% 100%; }
.ui-tab-nav2 li.current { color: #06c1bf; border-bottom: 2px #06c1bf solid }
.ui-tab-nav2 li:active { opacity: .8 }
.ui-tab-nav2 li:hover { cursor: pointer; }
.detailBtn { width: 100%; height: 40px; line-height: 40px; background: #f9f9f9; }
.detailBtn span { width: 40%; height: 100%; float: left; overflow: hidden; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #fdba55; background: url(../Images/shoucang2.png) 20% 10px no-repeat;background-size: 14%; display: block; }
.detailBtn a { border: none; width: 60%; height: 100%; float: left; background: #fdba55; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 18px; color: #333; text-align: center; display: block; }
.detailBtn a:hover { background: #fea169; }
/********travel**********/
.nav2 { background: #fff !important; position: fixed ; }
.nav2 li.nLi { width: 50% !important; display: -webkit-box !important; -webkit-box-flex: 1; -webkit-box-align: center; -webkit-box-pack: center; float: left; color: #333 !important; font-size: 16px; }
.nav2 li.nLi {  }
.nav2 li.on { background: #4aedeb !important; border-radius: 8px; }
.nav2 .sub2 {border-top: 1px solid #06c1bf; padding: 0px !important; width: 100%;border-top: 1px solid #06c1bf; }
.nav2 .sub2 li { zoom: 1; width: 100% !important; margin-top: 5px; margin-left: auto; margin-right: auto; color: #333; text-align: center; }
.nav2 .sub2 li:hover { background: #4AEDEB !important; color: #333 !important; }
.nav3 { background: #fff !important;position: fixed; }
.nav3 li.nLi { width: 25% !important; display: -webkit-box !important; -webkit-box-flex: 1; -webkit-box-align: center; -webkit-box-pack: center; float: left; color: #333 !important; }
.nav3 li.nLi {  }
.nav3 li.on { background: #4aedeb !important;border-radius: 8px; }
.nav3 .sub2 { padding: 10px 0px !important; width: 100%; border-top: 1px solid #06c1bf;}
.nav3 .sub2 li { zoom: 1; width: 100% !important; margin-top: 5px; margin-left: auto; margin-right: auto; color: #333; text-align: center; }
.nav3 .sub2 li:hover { background: #06c1bf !important; color: #fff !important; }
.nav4 { background: #fff !important; position: fixed ; }
.nav4 li.nLi { width: 33.33% !important; display: -webkit-box !important; -webkit-box-flex: 1; -webkit-box-align: center; -webkit-box-pack: center; float: left; color: #333 !important; }
.nav4 li.nLi {  }
.nav4 li.on { background: #4aedeb !important;border-radius: 8px; }
.nav4 .sub2 { padding: 10px 0px !important; width: 100%; border-top: 1px solid #06c1bf;}
.nav4 .sub2 li { zoom: 1; width: 100% !important; margin-top: 5px; margin-left: auto; margin-right: auto; color: #333; text-align: center; }
.nav4 .sub2 li:hover { background: #06c1bf !important; color: #fff !important; }
.nav4 .sub3 { padding: 10px 0px !important; width: 100% !important; height: 800px;border-top: 1px solid #06c1bf;}
.nav4 .sub3 li { zoom: 1; width: 94% !important; padding: 0px 3% !important; color: #333 !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px !important; }
.nav4 .sub3 li ul { width: 100%; height: auto; overflow: hidden; background: #fff; opacity: 0.9; }
.nav4 .sub3 li ul li { width: 25% !important; float: left; color: #666 !important; margin-top: 5px; margin-right: 5px; border-radius: 5px 5px; border: 1px solid #06c1bf; line-height: 25px !important; text-align: center; }
.nav4 .sub3 li ul li.on { background: #06c1bf !important; color: #fff !important; }
.nav4 .sub3 div.shaixuan{ margin-top:10px;}
.nav4 .sub3 div.shaixuan button { margin-top: 10px; width: 50%; float: left; height: 40px; line-height: 40px; text-align: center; font-family:!important;
font-size: 18px; border: 1px solid #06c1bf; }
.nav4 .sub3 div.shaixuan button.cancel { color: #333; }
.nav4 .sub3 div.shaixuan button.sure { color: #fff; background: #06c1bf; }


/*******************筛选******************/

.nav4 .sub3 { padding: 10px 0px !important; width: 100% !important; height: 800px; }
.nav4 .sub3 p { zoom: 1; width: 94% !important; padding: 0px 3% !important; color: #333 !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px !important; }
.nav4 .sub3 p { width: 100%; height: auto; overflow: hidden; background: #fff; opacity: 0.9; }
.nav4 .sub3 p span { width: 25% !important; float: left; color: #666 !important; margin-top: 5px; margin-right: 5px; border-radius: 5px 5px; border: 1px solid #06c1bf; line-height: 25px !important; text-align: center; }
.nav4 .sub3 p span.on { background: #06c1bf !important; color: #fff !important; }
.nav4 .sub3 div.shaixuan{ margin-top:10px;}
.nav4 .sub3 div.shaixuan button { margin-top: 10px; width: 50%; float: left; height: 40px; line-height: 40px; text-align: center; font-family:!important;
font-size: 18px; border: 1px solid #06c1bf; }
.nav4 .sub3 div.shaixuan button.cancel { color: #333; }
.nav4 .sub3 div.shaixuan button.sure { color: #fff; background: #06c1bf; }

















/********timePaixu**********/
h4.timeTit { background: #d6f4f1; width: 100%; height: 60px; line-height: 60px; }
h4.timeTit2 { position: relative !important; top: 0px !important; z-index: 0 !important; }
h4.timeTit span { display: block; width: 60%; height: 40px; line-height: 40px; font-family: '微软雅黑', Verdana, Geneva, sans-serif; font-size: 16px; color: #fff; background: url(../Images/time_tit.png) -11px center no-repeat; padding: 10px 0px 10px 35px; }
/***************/
.collection a.pingjia { background: #fdba55 !important; }
.plCon { width: auto; margin-left: auto; margin-right: auto; height: auto; padding: 10px 5% 10px 5%; border-radius: 8px 8px; border: 1px solid #fdba55; position: relative; margin-top: 10px; }
.plCon img.pbg { position: absolute; top: -16px; right: 20%; }
.plCon ul { width: 100%; height: auto; overflow: hidden; }
.plCon ul li { width: 100%; height: auto; overflow: hidden; padding: 10px 0px; }
.plCon ul li button { width: 68%; margin-left: auto; margin-right: auto; display: block; height: 37px; line-height: 37px; font-family: "微软雅黑", Verdana, Geneva, sans-serif; color: #fff; font-size: 16px; background: #fdba55; border-radius: 8px 8px; text-align: center; }
.plCon ul li button:active { background: #fec665; }
.plCon ul li textarea { width: 90%; height: 80px; padding:10px 5%; border: none; outline: none; border-radius: 8px 8px; background: #ebebeb; line-height: 20px; word-break: break-all; font-family: "微软雅黑", Verdana, Geneva, sans-serif; color: #333; font-size: 14px; word-wrap: break-word; margin: 5px 0px; }
/********2015/09/01********/
.ui-radio2 input:before{ width:16px; height:16px; border: 1px solid #fdba55; margin-top:11px;}
.ui-radio2 input:checked:after{ width:8px; height:8px; left: 5px; top: -9px; background:#fdba55; margin-top:11px;}
/************2015/09/14*************/
.shxDiv{ width: 100%; height: 800px; background: #fff; opacity: 0.9; position: absolute; top: 40px; z-index: 10;}
.shxDiv .sub3 { padding: 10px 0px !important; height: 800px;border-top: 1px solid #06c1bf; }
.shxDiv .sub3 li { zoom: 1; width: 94% !important; padding: 0px 3% !important; color: #333 !important; font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-size: 16px !important; }
.shxDiv .sub3 li ul { width: 100%; height: auto; overflow: hidden; background: #fff; opacity: 0.9; }
.shxDiv .sub3 li ul li { width: 25% !important; float: left; color: #666 !important; margin-top: 5px; margin-right: 5px; border-radius: 5px 5px; border: 1px solid #06c1bf; line-height: 25px !important; text-align: center; }
.shxDiv .sub3 li ul li.on { background: #06c1bf !important; color: #fff !important; }
.shxDiv .sub3 div.shaixuan{ margin-top:10px;}
.shxDiv .sub3 div.shaixuan button { margin-top: 10px; width: 50%; float: left; height: 40px; line-height: 40px; text-align: center; font-family:!important;
font-size: 18px; border: 1px solid #06c1bf; }
.shxDiv .sub3 div.shaixuan button.cancel { color: #333; }
.shxDiv .sub3 div.shaixuan button.sure { color: #fff; background: #06c1bf; }