<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost/junmvc/index/i" method="post">
        <div>
            <label for="">name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">name2:</label>
            <input type="text" name="name2">
        </div>
        <div>
            <label for="">name3:</label>
            <input type="text" name="name3">
        </div>
        <div>
            <button type="submit">go</button>
        </div>
    </form>
</body>
</html>